# full path: C:/Users/Hubar Tech/Downloads/Soccho/Soccho/.env.example
DEBUG=true
DATABASE_URL= your_database_url_here
RENDER_INTERNAL_REDIS_URL=redis://redis:6379
REDIS_CACHE_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
CHANNEL_LAYERS_REDIS_URL=redis://redis:6379/2
AES_SECRET_KEY=replace_aes_secret_key

AUTH_SECRET_KEY=replace_auth_secret_key
STATICFORMS_API_KEY=sf_1a45e538a3b9f54e833b9116
SOCIAL_SECRET_KEY=replace_social_secret_key
TRANSACTION_SECRET_KEY=replace_transaction_secret_key
NOTIFICATION_SECRET_KEY=replace_notification_secret_key
ADMIN_SECRET_KEY=replace_admin_secret_key
GATEWAY_SECRET_KEY=replace_gateway_secret_key

AUTH_GRPC_HOST=auth
AUTH_GRPC_PORT=8001
AUTH_HTTP_BASE_URL=https://soccho-auth.onrender.com
SOCIAL_GRPC_HOST=social
SOCIAL_GRPC_PORT=8002
SOCIAL_HTT_PBASE_URL=https://soccho-social.onrender.com
TRANSACTION_GRPC_HOST=transaction
TRANSACTION_GRPC_PORT=8003
TRANSACTION_HTTP_BASE_URL=https://soccho-transaction.onrender.com
NOTIFICATION_GRPC_HOST=notification
NOTIFICATION_GRPC_PORT=8004
NOTIFICATION_HTTP_BASE_URL=https://soccho-notification.onrender.com

ALLOWED_ORIGINS=https://soccho.onrender.com,https://soccho.vercel.app
AXES_ENABLED=false
ADMIN_URL_PATH=replace_admin_url_path/
GOOGLE_CLIENT_ID=replace_google_client_id
GOOGLE_CLIENT_SECRET=replace_google_client_secret
PYTHON_VERSION=3.12.3
AXES_ENABLED=false
