django
djangorestframework
djangorestframework-simplejwt
social-auth-app-django
django-axes
django-cryptography
grpcio
grpcio-tools
redis
hiredis
requests
python-dotenv
psycopg2-binary
PyJWT
gunicorn
